header{
    width: 1100px;
    background: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    position: sticky;
    top : 0;
    left : 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    overflow-y: scroll;
}